@media only screen and (max-width: 500px){
  .carousel-inner > .item > img{
    position: relative;
    right: 250px;
  }
  .item > p{
    font-size: 3.5vw;
  }
}

.about p{
  text-align: center;
}

.carousel-content{
  position: absolute;
  top: 15vw;
  color: white;
  width: 100%;
  z-index: 12;
  text-align: center;
}

.carousel-inner > .item > img {
  min-height: 300px;
  min-width: 900px;
  height: 1200;
  width: 480;
}

h1, h2, h3, h4, p, a{
  font-family: 'Oswald', sans-serif;
}

.about{
  position: relative;
  bottom: 0px;
  background-color: #f4f6f9;
  padding-bottom: 30px;
}

.about p{
  font-family: 'Dosis', sans-serif;
}

.aboutTitle{
    width: 60%;
    margin: 0 auto;
    border-bottom: 2px solid silver;
    margin-bottom: 20px;
    padding-top: 5px;
}

.with-margin {
  margin-bottom: 20px;
}

.icons{
  margin: 30px auto 0 auto;
  display: flex;
  justify-content: space-around;
  width: 225px;
  height: 20%;
}

.icons i{
  color: black;
}

i:hover{
  color: #c8ccce;
}

.Projects{
}

.ProjectsTitle{
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.Projects .row{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.caption{
  position: absolute;
  top: 10%;
  left: 15%;
  text-align: center;
  color: white;
  width: 70%;
  display: none;
}

.itravel, .web, .bit{
  position: absolute;
  left: 45%;
  bottom: 15%;
  color: white;
}

.Projects p{
  font-size: 17px;
}


.Project1:hover > .caption{
  display: block;
}

.Project1:hover > img{
  filter: brightness(0%);
}

.Project1:hover > i{
  display:
}

.Project2:hover > .caption{
  display: block;
}

.Project2:hover > img{
  filter: brightness(0%);
}

.Project3:hover > .caption{
  display: block;
}

.Project3:hover > img{
  filter: brightness(0%);
}
