a {
  color: white;
  text-decoration: none;
}

.nav {
  top: 0;
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 1;
  height: 110px;
  background-color: black;
  color: white;
  align-items: center;
}

.nav h2 {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 20px;
}

.about {
  display: flex;
  width: 25%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-right: 2px solid #484848;
}

.about img {
  width: 25px;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
}

.about h2{
  margin: 0px;
}


.projects {
  display: flex;
  width: 25%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-right: 2px solid #484848;
}

.projects img {
  width: 25px;
  border-radius: 20px;
  background-color: white;
  padding: 5px;
  margin-bottom: 10px;
}

.projects h2{
  margin: 0px;
}

.resume-bottom {
  display: flex;
  width: 25%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-right: 2px solid #484848;
}

.resume-bottom img {
  width: 30px;
  background-color: white;
  border-radius: 30px;
  padding: 4px;
  margin-bottom: 10px;
}

.resume-bottom h2{
  margin: 0px;
}

.contact-bottom {
  display: flex;
  width: 25%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-bottom img{
  width: 30px;
  background-color: white;
  padding: 5px;
  border-radius: 20px;
  margin-bottom: 10px;
}

.contact-bottom h2{
  margin: 0px;
}

.about:hover, .projects:hover, .resume-bottom:hover, .contact-bottom:hover {
  background-color: #36B2EC;
}

.bg{
  background-image: url("https://c1.staticflickr.com/9/8877/17761761599_1c460d65ca_b.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 750px;
  background-size: cover;
  margin-top: 100px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.bg h1, .bg h2{
  position: relative;
  top: 150px;
  color: white;
  margin: 0 auto 0 auto;
  width: 500px;
  text-align: center;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.bg h1{
  font-size: 60px;
}

.bg h2{
  font-size: 25px;
}

.aboutSection{
  background-color: #f4f7fc;
  padding-top: 50px;
  padding-bottom: 25px;
}

.aboutTitle h1{
  width: 300px;
  text-align: center;
  margin: 20px auto 0 auto;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 35px;
  margin-top: 0;
}

.aboutTitle h2{
  color: gray;
  width: 1000px;
  padding-bottom: 10px;
  text-align: center;
  margin: 20px auto 0 auto;
  font-size: 30px;
  font-family: 'Cormorant Garamond', serif;
  border-bottom: 4px ridge blue;
}

.aboutWrite{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.aboutWrite img{
  width: 400px;
  height: 425px;
  border-radius: 200px;
  margin-right: 75px;
}

.aboutWrite p{
  width: 600px;
  font-size: 25px;
  font-family: 'Cormorant Garamond', serif;
  font-style: oblique;
  line-height: 125%;
}

.projectSection{
  padding-top: 25px;
}

.projectTitle h1{
  width: 300px;
  text-align: center;
  margin: 20px auto 0 auto;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 35px;
  margin-top: 0;
}

.projectTitle h2{
  color: gray;
  width: 1000px;
  padding-bottom: 10px;
  text-align: center;
  margin: 20px auto 0 auto;
  font-size: 30px;
  font-family: 'Cormorant Garamond', serif;
  margin-bottom: 0;
}

span{
  color: black;
}

.projectTitle h3 {
  color: gray;
  width: 1000px;
  padding-bottom: 10px;
  text-align: center;
  margin: 20px auto 0 auto;
  font-size: 30px;
  font-family: 'Cormorant Garamond', serif;
  border-bottom: 4px ridge blue;
  margin-top: 0;
}

.projectDisplay {
  display: flex;
  justify-content: space-around;
  width: 96%;
  margin-top: 50px;
  position: relative;
  top: 50px;
  height: 750px;
}

.itravel{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25%;
  margin: 0;
  overflow: hidden;
  flex-flow: column;
}

.itravelImg{
  width: 90%;
  height: 55%;
  border-radius: 100%;
  overflow: hidden;
}

.itravel img{
  width: 100%;
  height: 100%;
}

.itravelText{
  height: 42%;
  width: 100%;
  overflow: hidden;
}

.bitmap{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25%;
  margin: 0;
  overflow: hidden;
  flex-flow: column;
}

.bitmapImg{
  width: 90%;
  height: 55%;
  border-radius: 100%;
  overflow: hidden;
}

.bitmapImg img{
  width: 100%;
  height: 100%;
}

.bitmapText{
  height: 42%;
  width: 100%;
  overflow: hidden;
}

.website{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25%;
  margin: 0;
  overflow: hidden;
  flex-flow: column;
}

.websiteImg{
  width: 90%;
  height: 55%;
  border-radius: 100%;
  overflow: hidden;
}

.website img{
  width: 100%;
  height: 100%;
}

.websiteText{
  height: 42%;
  width: 100%;
  overflow: hidden;
}

.projectDisplay p{
  font-size: 25px;
  font-family: 'Cormorant Garamond', serif;
}
